<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel = "stylesheet" href = "static/style.css">
</head>

<body>
<nav class="nav">
  <div class="flex-container">
    <h1 class="logo"><a href="{{ url_for('home') }}"><img src = static/Brewing.png>Brewing</a></h1>
    <ul>
      <li><a href="{{ url_for('home') }}">Home</a></li>
      <li><a href="{{ url_for('learn_more_page') }}">About</a></li>
      <li><a href="{{ url_for('login_page') }}">Login</a></li>
      <li><a href="{{ url_for('reviews_page') }}">Reviews</a></li>
      <li><a href="{{ url_for('menu_page') }}">Menu</a></li>
    </ul>
  </div>
</nav>

<!-- learn more-->
    <!--HTML id Attribute: https://www.w3schools.com/html/html_id.asp-->
<section id="about-section" class="about-coffee">
    <h2>What We Do</h2>
    <p>
        We bring all your favorite coffee shops to one place! Discover new cafes tailored to your taste and browse reviews from other coffee lovers -- or share your own to help the community!</p>

        <h3>Our Coffee Shop Partners</h3>
        <div class="coffee-lists">
            <div class="coffee-list">Qahwah House</div>
            <div class="coffee-list">French Workshop</div>
            <div class="coffee-list">NY Caffeine</div>
            <div class="coffee-list">MOTW</div>
        </div>
      </section>
  </section>
  
        
  <script src="/static/script.js"></script>
</body>
</html>
